.link {
	stroke: #CCC;
	stroke-width: 10px;
	opacity:0.1;
}
.polygonlink {
	fill: #CCC;
	stroke: none;
	stroke-width: 0;
	opacity:0.1;
	pointer-events: none;
}
.node {
	fill: #fff;
	opacity:0.8;
}
.fixed {
	stroke: #bbb;
	stroke-width :2.5px;
	stroke-dasharray: 4, 2;
	fill:none;
}
.nodelabel {
	font-family: optima, sans-serif;
	filter:none !important;
}
text {
	fill:#fff;
}
.radial {
	font-size:14px;
}