.link {
	stroke: #CCC;
	stroke-width: 10px;
	opacity:0.1;
}
.polygonlink {
	fill: #CCC;
	stroke: none;
	stroke-width: 0;
	opacity:0.1;
	pointer-events: none;
}
.node {
	fill: #fff;
	opacity:0.8;
}
.fixed {
	stroke: #bbb;
	stroke-width :2.5px;
	stroke-dasharray: 4, 2;
	fill:none;
}
.nodelabel {
	font-family: optima, sans-serif;
	filter:none !important;
}
text {
	fill:#fff;
}
.radial {
	font-size:12px;
	font-family: 'helvetica neue', tahoma,sans-serif;
	font-weight:bold;
}
#observatory {
  background-size: 100%;
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-image: url('../img/bg10.jpg');
  color:#fff;
}

.mouseover {
	opacity:0.5;
}
