.link {
	stroke: #CCC;
	stroke-width: 10px;
	opacity:0.1;
}
.polygonlink {
	fill: #CCC;
	stroke: none;
	stroke-width: 0;
	opacity:0.1;
	pointer-events: none;
}
.node {
	fill: #fff;
	opacity:0.8;
}
.fixed {
	stroke: #bbb;
	stroke-width :2.5px;
	stroke-dasharray: 4, 2;
	fill:none;
}
.label_text {
	font-family: seb basic, optima, sans-serif;
	filter:none !important;
	fill:#fff;
}

.label_background {
	display: none;
}


#background {
  background-size: 100%;
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-image: url('bg10.jpg');	
}

#observatory {
}

.navbar {
  background-color: #222222;
}

.radial {
	font-family: 'seb basic' !important;
	fill: #fff !important;
}
