.link {
	stroke: #CCC;
	stroke-width: 12px;
	opacity:0.2;
}
.polygonlink {
	fill: #CCC;
	stroke: none;
	stroke-width: 0;
	opacity:0.2;
	pointer-events: none;
}
.node {
	fill: #fff;
	opacity:0.8;
}
.fixed {
	stroke: #bbb;
	stroke-width :2.5px;
	stroke-dasharray: 4, 2;
	fill:none;
}
.label_text {
	font-family: optima, 'SEB Basic', sans-serif;
	filter:none !important;
	fill:#fff;
}

.label_background {
	display: none;
}

#observatory {
  background-size: 100%;
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
  background-position: center center;
	background-image: url('bg.jpg');
}
.navbar {
  background-color: #222222;
}

.radial {
	fill: #fff !important;
}
