.polygonlink {
	fill: #666;
	stroke: none;
	stroke-width: 0;
	opacity:0.4;
}

.node {
	fill: #666;
	opacity:1;
	stroke:#fff;
	stroke-width: 3px;
}

.halo {
     display:none
}


.label_text {
	font-family: SEB Basic, optima, sans-serif;
	fill:#fff;
	opacity:1;
}

.label_background {
}

#observatory {
  background-size: 100%;
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
  background-position: center center;
	background-image: url('paper.jpg');
}