.link {
	stroke: #fff;
	stroke-width: 10px;
	opacity:0.1;
}

.polygonlink {
	fill: #BD996D;
	stroke: none;
	stroke-width: 0;
	opacity:0.4;
	pointer-events: none;
}

.node {
	fill: #8F673B;
	opacity:0.7;
	stroke:#E4CEB4;
	stroke-width: 3px;
}

.halo {
	display:none;
}

.fixed {
	stroke: #bbb;
	stroke-width :2.5px;
	stroke-dasharray: 4, 2;
	fill:none;
}

.label_text {
	font-family: seb basic, optima, sans-serif;
	fill:#fff;
	opacity:1;
}

.label_background {
/*	fill: #FF6E3A !important; */
}

#background {
  background-size: 100%;
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
  background-position: center center;
	background-image: url('bg2.jpg');
}

#observatory {
}
