.link {
	stroke: #fff;
	stroke-width: 10px;
	opacity:0.2;
}

.polygonlink {
	fill: #fff;
	stroke: none;
	stroke-width: 0;
	opacity:0.17;
	pointer-events: none;
}

.node {
	fill: #fff;
	opacity:1;
	stroke:#D3CEC7;
	stroke-width: 2px;
}

.halo {
}

.fixed {
	stroke: #bbb;
	stroke-width :2.5px;
	stroke-dasharray: 4, 2;
	fill:none;
}

.label_text {
	font-family: optima, 'SEB Basic', sans-serif;
	fill:#fff;
	opacity:1;
}

.label_background {
}

.radial {
	font-family: optima, 'SEB Basic', sans-serif;
	fill: #fff !important;
}

#observatory {
  background-size: 100%;
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
  background-position: center center;
	background-image: url('bg.jpg');
}